html {
  scroll-behavior: smooth;
}
	
body {
  height: 1450px;
  font-family: 'Roboto', sans-serif;
}
	
/* The button style */
.btn {
  background-color: #fff;
  color: black;
  width: 55px;
  height: 55px;
  font-size: 14px;
  border-radius: 100px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  z-index: 15000;
}

.btn:hover {
  background-color: #fff;
  color: blue;
  animation: rotate-center 0.6s ease-in-out both;
  }

.btn:focus { outline:0; }

/* Animation hover button */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The container for position the drop content menu */
.drop {
  position: fixed;
  display: inline-block;
  top: 60px;
  right: 15px;
  z-index: 15000;
}

/* Drop content menu */
.drop-content {
  top: 60px;
  right: 15px;
  display: none;
  position: fixed;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.95);
  min-width: 180px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 15px 15px 15px;
  z-index: 15000;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* Animation of the drop content menu by click */
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

/* Links style inside the drop-content */
.drop-content a {
  font-size: 12px;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out
}

/* Change color of drop links on hover */
.drop-content a:hover {
color: #3265e6;
}

/* Show the drop menu on hover 
.drop:hover .drop-content {
  display: block;
} */

/* Hide the drop menu by default */
menu-content {
display:none;
}

/* The old close button style 
div .x {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 2px;
  background-color: white;
  color: grey;
  font-size: 11px;
  border: 0;
  cursor: pointer;
}
div .x:hover {
  color: blue;
 }  */

/* The scroll style inside the drop content menu */
.scroll {
  overflow: hidden;
  overflow-x: hidden;
  height: 250px;
  margin-top: 25px;
 }

.title-portfolio {
font-size: 9px; 
text-transform: uppercase;
letter-spacing: 0.3em; 
margin-left: 15px;
color: grey;
}

/* The close button style */
.close {
    background: white;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    float: right;
}

.close:after {
    content: '';
    height: 15px;
    border-left: 2px solid grey;
    position: absolute;
    transform: rotate(45deg);
}

.close:before {
    content: '';
    height: 15px;
    border-left: 2px solid grey;
    position: absolute;
    transform: rotate(-45deg);
}
	
.project {
    margin-top: 700px;
    background-color: #f0f0f0;
    width: 100%;
    height: 450px;
    display: flex;
    padding-top: 150px;
    justify-content: center;
    font-size: 25px; 
    text-transform: uppercase;
    letter-spacing: 0.3em; 
    color: grey;
}
	
hr.hr {
  border: 3px solid #f0f0f0;
  width: 130px;
  margin-left: 15px;
}
