* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

::-webkit-scrollbar {width: 0px;}

section {
    width: 100%;
    margin: 0 auto;
    min-height: 50vh;
    font-size: 35px;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: black;
    font-weight: 900;
}

.sec1 {
    background-color: #f0f0f0;
    height: 100vh;
}

.sec2 {
    background-color: white;
    height: 100vh;
}

.sec3 {
    background-color: #f0f0f0;
    height: 100vh;
}

.sec4 {
    background-color: white;
    height: 100vh;
}

nav {
    position: fixed;
    top: 30%;
    bottom: 30%;
    right: 0;
    width: 60px;
}

nav ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: .5s;
}

nav li:hover {
    background-color: blue;
}

.dot1 {
    background-color: black;
}

.dot2 {
    background-color: black;
}

.dot3 {
    background-color: black;
}

.dot4 {
    background-color: black;
}

.active {
    box-shadow: 0 0 0 3px white, 0 0 0 6px blue;
}
