html {
  scroll-behavior: smooth; /* Don't work in IE */
}
	
body {
  height: 1450px;
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px 0px 0px;
}

/* The button style */
.btn {
  background-color: #fff;
  color: black;
  width: 55px;
  height: 55px;
  font-size: 14px;
  border-radius: 100px;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  z-index: 15000;
 }

.btn:hover {
  background-color: #fff;
  color: blue;
  animation: rotate-center 0.6s ease-in-out both;
  }

/* hide border in Chrome */
.btn:focus { outline:0; } 

/* Animation hover button */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The container for position the drop content menu */
.drop {
  position: fixed;
  display: inline-block;
  top: 200px;
  right: 55px;
  z-index: 15000;
  animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* animation slide-in-blurred-top */
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* Drop content menu */
.drop-content {
  top: -10px;
  right: 1px;
  display: none;
  position: fixed;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.95);
  min-width: 180px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 15px 15px 15px;
  z-index: 15000;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* Animation of the drop content menu by click */
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

/* Links style inside the drop-content */
.drop-content a {
  font-size: 12px;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition:color 200ms ease-in-out;
  transition:color 200ms ease-in-out
}

.drop-content a:hover {
color: #3265e6;
}

/* Show the drop menu on hover 
.drop:hover .drop-content {
  display: block;
} */

/* Hide the drop menu by default */
menu-content {
display:none;
}

/* The scroll style inside the drop content menu */
.scroll {
  overflow: hidden;
  overflow-x: hidden;
  height: 250px;
  margin-top: 25px;
 }

.title-portfolio {
font-size: 9px; 
text-transform: uppercase;
letter-spacing: 0.3em; 
margin-left: 15px;
color: grey;
}

/* The close button style */
.close {
    background: white;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    float: right;
}

.close:after {
    content: '';
    height: 15px;
    border-left: 2px solid grey;
    position: absolute;
    transform: rotate(45deg);
}

.close:before {
    content: '';
    height: 15px;
    border-left: 2px solid grey;
    position: absolute;
    transform: rotate(-45deg);
}
	
/* div projects block */
.project {
    margin: 700px 0px 0px 0px;
    background-color: #f0f0f0;
    width: 100%;
    height: 450px;
    display: flex;
    padding-top: 150px;
    justify-content: center;
    font-size: 25px; 
    text-transform: uppercase;
    letter-spacing: 0.3em; 
    color: grey;
}
	
hr.hr {
  border: 3px solid #f0f0f0;
  width: 130px;
  margin-left: 15px;
}
